:root{
--color-oscuro: #021024;
--main-color: #052659;
--main-color-claro: #5483B3;
--color-nav-after: #f2f3f4 #021024e1;
--txt-menu-color: #163761;
--txt-menu-color-after: #1573ee;
--color-clarox: #C1E8FF;
--color-claro: #f2f3f4;

}
/* styles.css */

*{
  margin: 0;
  padding: 0;
}

a, ul{
    text-decoration: none;
    list-style: none;
}


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-claro);
  color: #333;

}



.hero {
  position: relative;
  background: var(--color-oscuro) /*url('../imgs/Recurso 21.png') 50% 0% /cover no-repeat*/ ;
  background-size:20%;
  backdrop-filter: blur(5px);
  padding: 5rem 1rem;
  text-align: center;
  color: white;
  Box-shadow: 0 2px 4px #000;
  z-index: 999;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;

}

.conten-inicio{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.conten-inicio span{
    font-size: 3.5rem;
    color: #00ccff;
}

.section {
  margin: auto;
  padding: 4rem 1rem;
  text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 998;

        background: var(--color-nav-after);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);


    animation: headerFondo linear 2s backwards;
    animation-timeline: scroll(root);
}

@keyframes headerFondo {

    20%, 100%{
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }

}

.navbar {
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;  
    justify-content: space-around;
}

.logo {
  width: 200px;  
  display: flex;
  align-content: center;
}

.logo img{
    width: 100%;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;

}
.nav-links a {

  color: var(--txt-menu-color);
  font-weight: 500;
}

.nav-links li:hover a:not(:hover) {
    color: var(--txt-menu-color-after);
    opacity: 50%;
    font-size: .9rem;
}

.btn {
  background-color: #0059ff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #0046cc;
}

.nosotros .entidades{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 1rem;
} 

.nosotros .entidades .entidad{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  }

.nosotros .entidades .entidad{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
  text-justify: inter-word;
}

.nosotros .entidades img{
  width: 150px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
  transition: scale 0.2s ease-in-out;
}
.nosotros .entidades img:hover{
  filter: grayscale(0%);
  scale: 1.1;
}


/* POR QUE ELEGUISNOS */

.value-prop{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;  
  padding: 4rem 1rem;
  background-color: #f9f9f9;}


.value-prop .value-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 80%;
  padding: 1rem 0;
}

.value-prop p {
  font-size: 1.2rem;
  max-width: 800px;
  margin-bottom: 1.5rem;
}
.value-prop .value-grid ul {
  text-align: left;
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 600px;
}

.value-prop .value-grid .value-img{
  width: 90%;
  border-radius: 10px;
  width:100%;
  height:100%;
  background: linear-gradient(45deg, #1a1e5c, #8cbceb);
  display:flex; align-items:center;
  justify-content:center;
  color:white;
}

.value-prop h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}







.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 8px;
  max-width: 300px;
  flex: 1 1 280px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: white;
  padding: 1rem;
  gap:  1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 2rem; ;
}
  .projects img {
    width: 90%;
    border-radius: 8px;
  }


  .projects .ptoyectgid .proyects-list{
    border-right : 2px solid var(--main-color-claro);
    padding:  0 1.5rem;
    margin:  1.5rem;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 1.5rem;

  }

   .projects .proyect-actual{
    background-color: var(--main-color-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    .projects .proyect-actual img {
    width: 60%;
   }



  .projects h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .projects p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #666;
  }
  .projects .proyect-item {
    transition: all 0.3s ease;
  }

  .projects .proyect-item:hover {
    border: 2px solid #0059ff;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #e6f0ff;
  }

    .projects .proyect-actualizar{
      text-align: center;
      font-size: 1.2rem;
      color: #0059ff;
      font-weight: bold;
    }

.testimonial {
  background-color: #e8f0fe;
  padding: 2rem;
  border-radius: 8px;
  max-width: 700px;
  margin: auto;
  font-style: italic;
}



/*  esfera movible */


.esfera:active {
      cursor: grabbing;
  }

  .esfera {
      position: relative;
      width: 100%;
      height: 80vh;
      overflow: hidden;
      cursor: grab;
      background-color: var(--color-clarox);
  }

  canvas {
      display: block;
  }

  .instruction {
      bottom: 20px;
      color: #666;
      font-size: 0.9rem;
      pointer-events: none;
  }
















.footer {
  height: 60vh;
  background-color: #0b0b3b;
  padding: 2rem 2rem 0 2rem;
  color: #ccc;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 1.5rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo .icono-footer {
  width: 90px;
}

.footer-logo .titulo-footer{
  width: 290px;
}

.footer-subscribe{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}

.footer-subscribe .subcipcion{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe input {
  outline: none;
  padding: 0.5rem;
  width: 200px;
  border: none;
  border-radius: 3px 0 0 3px;
}

.footer-subscribe button {
  position: relative;
  top: 0;
  padding: 0.5rem;
  background-color: #141c8a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 5ms ease-in;
}

.footer-subscribe button:hover{
  background-color: #1c259b ;
}

.metodosP{
  display: flex;
  font-size: 27px;
  gap: 5px;
}
.metodosP li a{
  color: #3d5270;
  transition: color 50ms ease;
}

.metodosP li a:hover{
  color: #0046cc;
}


.footer-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

.footer-col h3 {
  color: #292b7b;
  margin-bottom: 0.5rem;
}

.footer-col ul{
  
  list-style: none;
  padding: 0;
}

.footer-col ul li a {
  margin-bottom: 0.5rem;
  color: #85aeca;

}

.footer-col .social-icons i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  color: #6b5d9c;
}

.footer-bottom {
  height: 20%;
  position: relative;
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer-links{
  text-align: end;
  }

.footer-links a {
  color: #bbb;
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #00ccff;
}
















